<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>MainFormServlet</servlet-name>
        <servlet-class>servlet.MainFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainFormServlet</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CatalogFormServlet</servlet-name>
        <servlet-class>servlet.CatalogFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogFormServlet</servlet-name>
        <url-pattern>/catalogForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ItemInformationServlet</servlet-name>
        <servlet-class>servlet.ItemInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemInformationServlet</servlet-name>
        <url-pattern>/itemInformation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <!--dongenqie-->
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>servlet.ItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>servlet.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderSubmitServlet</servlet-name>
        <servlet-class>servlet.OrderSubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderSubmitServlet</servlet-name>
        <url-pattern>/order_submit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderConfirmServlet</servlet-name>
        <servlet-class>servlet.OrderConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderConfirmServlet</servlet-name>
        <url-pattern>/order_confirm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>servlet.OrderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/order_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderItemInformationServlet</servlet-name>
        <servlet-class>servlet.OrderItemInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderItemInformationServlet</servlet-name>
        <url-pattern>/OrderItemInformationServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>actionFilter</filter-name>
        <filter-class>filter.ActionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>actionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ActionFormServlet</servlet-name>
        <servlet-class>servlet.ActionFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionFormServlet</servlet-name>
        <url-pattern>/actionForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <servlet-class>servlet.AutoCompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <url-pattern>/autoComplete</url-pattern>
    </servlet-mapping>

</web-app>