body{
    background-color: #171d25;
    color: #ffffff;
}
#logo{
    float: left;
    height: 100px;
    width: 100px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
li{
    display: inline;
    float: left;
    padding-top: 20px;
    border-right: white;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
li a:hover{
    color: #0099ff;
}
